@import "_elements.less";
@import "_grid.less";

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

// header

.header {
  min-height: 100px;
  background: #E2E2E2;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

// navigation

.main-nav {
  float: right;
  list-style-type: none;
  margin-top: 30px;
  padding-left: 0;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px 0px 5px 10px;
    }
    a:link,
    a:visited {
      color: #111;
    }
    a:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

.article {
  padding: 20px 20px 20px 0;
}

.aside {
  padding: 20px 0 20px 0;
}